@import "colors";

html {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    height: 100%;

    margin: 0;

    background-color: $white;
}

.parallax {
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

