@import "colors";
@import "mixins";

.first-img {
    display: flex;
    background-image: url("/src/img/flax-img.svg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

/*    display: flex;

    top: 80px;

    width: 100%;
    height: calc(100% - 80px);*/
}

.title {
    display: flex;

    justify-content: center;

    margin: 50px 0 50px 0;

    @include standard-font(bold, 35px, 41px);
    text-transform: uppercase;
    color: $text-dark;

    cursor: default;

     &-additional {
         display: flex;

         justify-content: center;

         margin: 0 0 50px 0;

         &__text {
             width: 40%;

             @include standard-font(normal, 16px, 30px);
             text-align: center;
             color: $text-light;

             cursor: default;
         }
     }
}


